<!DOCTYPE html>
<html>
<head>
	<title>Students Data</title>
</head>
<body>
<form action='' method="POST" enctype="multipart/form-data"/> 
{% csrf_token %}
	student_name:<input type="text" name="student_name"><br>
	student_sex:<input type="text" name="student_sex"><br>
	student_age:<input type="text" name="student_age"><br>
	student_Date:<input type="text" name="student_Date"><br>
	<lable for ='file'>Filename:</lable>
	<input type='file' name='student_photo'/><br>

	 
<input type="submit" name="submit" value="submit"/>
</form>
<a href="/sixfaceview/">view</a>
</body>
</html>